body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.button_left{
  text-align: center;
}
.error-div{
  background-color:#ef9a9a;
  color:#D81B60;
  padding:10px;
  width:300px;
}

.tab-wrap {
  display: flex;
  flex-wrap: wrap;
  margin:20px 0;
}
.tab-label {
  color: White;
  background: #17a2b8;
  margin-right: 5px;
  padding: 8px 12px;
  order: -1;
  border-radius: 5px;
}
.tab-label2 {
  color: White;
  background: #17a2b8;
  margin-right: 5px;
  padding: 4px 12px;
  order: -1;
  border-radius: 5px;
}
.tab-content {
  width: 100%;
  display: none;
}
/* アクティブなタブ */
.tab-switch:checked+.tab-label {
  background: #009999;
}
.tab-switch:checked+.tab-label+.tab-content {
   display: block;
}
/* ラジオボタン非表示 */
.tab-switch {
  display: none;
}

.back{
  background-color: black;
}